<footer>
  <div class="f-container">
    <div class="f-social">
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""> <i class="fa-brands fa-instagram"></i></a>
      <a href=""> <i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-brand">&copy;Kunafa Private Limited</div>
    <div class="f-link-box">
      <a class="f-link" href="/">Privacy</a>
      <a class="f-link" href="/">Terms</a>
    </div>
  </div>
</footer>
