body{
    background-color: rgb(3, 3, 3);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

a{
    color: cornsilk;
    text-decoration: none;
}

nav{
    height: 5rem;
    background-color: white;

}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
    font-weight: 500 !important;
    font-size: 1.2rem !important;

}
.f-link{
    text-decoration: none;
    color: #222222;
    font-size: 400;
}

.f-link:hover{
    text-decoration: underline;
}   

.f-container{
    background-color: #ebebeb;
    color: white;
    padding: 2rem;
    color: #222222;
flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.f-social{
    font-size: 1.2rem;
    color: black !important;

}

.card-img-top{
    width: 100%;
    border-radius: 1rem !important;
    object-fit: cover !important;
}
.card-list{
    border: none !important;
    margin-bottom: 2rem;
}
.card-body{
    padding: 0 !important;
    
}

.card-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
    
}

.show-button{
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-button{
    display: flex ;
    gap: 5px ;
    padding: 2px ;
    gap: 5px ;
    margin-right: 10px ;
   
}
.nav-button{
    margin-right: 20px !important;
}